# OpsGate control service env file
OPSGATE_SERVICE_NAME=opsgate
OPSGATE_BIND_HOST=0.0.0.0
OPSGATE_BIND_PORT=8711
OPSGATE_DB_PATH=/usr/local/var/opsgate/run/opsgate.sqlite3

OPSGATE_UI_USERNAME=opsgate-admin
OPSGATE_UI_PASSWORD_BCRYPT=CHANGEME_BCRYPT_HASH
OPSGATE_SESSION_SECRET=CHANGEME_SESSION_SECRET_32_PLUS

OPSGATE_SUBMIT_TOKEN_OPENCLAW=CHANGEME_OPENCLAW_SUBMIT_TOKEN
OPSGATE_SUBMIT_TOKEN_NYXMON=CHANGEME_NYXMON_SUBMIT_TOKEN
OPSGATE_SUBMIT_TOKEN_OPERATOR=CHANGEME_OPERATOR_SUBMIT_TOKEN
OPSGATE_RUNNER_TOKEN=CHANGEME_RUNNER_TOKEN

OPSGATE_MAX_DURATION_SECONDS_DEFAULT=3600
OPSGATE_POLICY_FLOOR_REQUIRE_REVIEWER_STEP=false
OPSGATE_SUBMIT_POLICY_OPENCLAW_REQUIRE_REVIEWER_STEP=false
OPSGATE_SUBMIT_POLICY_NYXMON_REQUIRE_REVIEWER_STEP=false
OPSGATE_SUBMIT_POLICY_OPERATOR_REQUIRE_REVIEWER_STEP=true

OPSGATE_REQUIRE_TAILSCALE_CONTEXT=true
OPSGATE_ALLOWED_CIDRS=127.0.0.1/32,::1/128,100.64.0.0/10,fd7a:115c:a1e0::/48
OPSGATE_EXECUTION_DATA_DIR=/Users/ops/remediation
OPSGATE_DISABLE_FILE_PATH=/Users/ops/remediation/.disabled
